@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  
}

body{
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  
}

#root{
  width: 100%;
}

#home body{
  overflow-y: hidden;
}